node_modules/
dist/
build/
.vscode/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
Node/config/firebase-service-account.json
DailyLogs
17-09-2026-QA-changes
17-09-2026-QA-changes.zip
PERMISSIONS.md
2026-09-18